
/* 헤더 */
.header-wrap{display: flex;align-items: center;justify-content: space-between;padding: 0 16px;overflow: hidden;height: 60px;position: fixed;background: #fff;width: 100%;top: 0;width: 100%;left: 0;top: 0;z-index: 2;}
.logo-wrap {display: flex;align-items: center;gap:10px;height: 55px;text-align: center;}
.logo-wrap .menu{width: 65px;}
.logo-wrap .logo a{display: flex;width: 120px;align-items: center;justify-content: center;}
.logo-wrap img{width: 24px;height: 24px;}
.logo-wrap .logo img{width: 90px;height: auto;}

.asideDim{position: absolute;width: 100%;height: 700vh;background: #000;opacity: 0.8;}

aside {background: #fff;text-align: left;z-index: 2;height: 100vh;}
aside img {width: 24px;height: 24px;}

/* btn-menu */
aside .btns-menu{padding: 10px 0; width: 65px;display: flex;align-items: center;gap:10px;flex-direction: column;}
aside .btns-menu li a{display: flex;align-items: center;gap:5px;flex-direction: column;text-align: center;font-size: 12px;height: 55px;}

/* btn-menu-bar */
aside .btn-menu-bar{width: 220px;display: flex;gap:15px;flex-direction: column;border-radius: 15px;}
aside .btn-menu-bar > div:not(:first-of-type){padding-bottom: 15px;border-bottom: 1px solid #ddd;}
aside .btns-menu-bar:hover{background: #ddd;}
aside .btn-menu-bar > div ul li {width: 100%;}
aside .btn-menu-bar > div ul li a {display: flex;align-items: center;gap: 10px;font-size: 14px;padding: 10px 10px;}


@media screen and (max-width:1200px) {


}

@media screen and (max-width:768px) {


}