
/* 헤더 */

.header-wrap{display: flex;align-items: center;justify-content: space-between;padding: 0 16px;overflow: hidden;height: 60px;position: fixed;background: #fff;width: 100%;top: 0;width: 100%;left: 0;top: 0;z-index: 2;}
.logo-wrap {display: flex;align-items: center;gap:10px;height: 55px;text-align: center;}
.logo-wrap .menu{width: 65px;}
.logo-wrap .logo a{display: flex;width: 120px;align-items: center;justify-content: center;}
.logo-wrap img{width: 24px;height: 24px;}
.logo-wrap .logo img{width: 90px;height: auto;}

.asideDim{position: absolute;width: 100%;height: 700vh;background: #000;opacity: 0.8;}

aside {background: #fff;text-align: left;z-index: 2;height: 100vh;}
aside img {width: 24px;height: 24px;}

/* btn-menu */
aside .btns-menu{padding: 10px 0; width: 65px;display: flex;align-items: center;gap:10px;flex-direction: column;}
aside .btns-menu li a{display: flex;align-items: center;gap:5px;flex-direction: column;text-align: center;font-size: 12px;height: 55px;}

/* btn-menu-bar */
aside .btn-menu-bar{width: 220px;display: flex;gap:15px;flex-direction: column;border-radius: 15px;}
aside .btn-menu-bar > div:not(:first-of-type){padding-bottom: 15px;border-bottom: 1px solid #ddd;}
aside .btns-menu-bar:hover{background: #ddd;}
aside .btn-menu-bar > div ul li {width: 100%;}
aside .btn-menu-bar > div ul li a {display: flex;align-items: center;gap: 10px;font-size: 14px;padding: 10px 10px;}


/* content-wrap */
.content-wrap{position: fixed;width: 100%;top: 60px;display: flex;align-items: flex-start;}
.filter-video-wrap{}
.filter-video-wrap.wide-filter{width: calc(100% - 220px);}
.filter-wrap{padding: 10px 30px;background: #fff;width: 100%;height: 55px;display: flex;align-items: center;}
.filter-wrap ul{display: flex;gap:10px}
.filter-wrap ul li{border-radius: 5px;}
.filter-wrap ul li a{background: #ddd;color:#000;padding: 3px 8px;border-radius: 5px;font-size: 14px;}
.filter-wrap ul li.on a{background: #000;color:#fff}

.video-wrap{flex-wrap:wrap;display: flex;gap:30px}
.video-wrap li{width: calc(25% - 30px);overflow: hidden;}
.video-wrap li video{background: #00000062;}
.video-wrap li .details{display: flex;gap: 10px;margin-top: 10px;}
.video-wrap li .details .profile{width: 36px;height: 36px;border-radius: 50%;background-color: #ddd;}
.video-wrap li .details .text{text-align: left;flex:1}
.video-wrap li .details .text .title{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size: 16px;color:#0f0f0f}
.video-wrap li .details .text .name{font-size: 14px;color:#606060;margin: 5px auto;}
.video-wrap li .details .text .view-date{display: flex;gap:5px;font-size: 14px;color:#606060}
.video-wrap li .details .text .view-date .view{}
.video-wrap li .details .text .view-date .date::before{content: "•"; margin-right: 5px;}
.video-wrap li .details .text .view-date .date{position: relative;z-index: -1;}
.video-wrap li .details .menu{}
.video-wrap li .details .menu img {width: 24px;height: 24px;}


@media screen and (max-width:1200px) {


}

@media screen and (max-width:768px) {


}