.sub-wrap{position: relative;min-height: 100vh;} 
.sub-wrap.join{background: #f0f4f9;display: flex;align-items: center;justify-content: center;}
.sub-wrap.join .inner{width: min(926px, 90%);}
.sub-wrap.join .join-box{background: #fff;border-radius: 20px;margin: 0 auto;padding: 50px 36px;display: flex;justify-content: space-between;flex-wrap:wrap;min-height: 320px;}
.sub-wrap.join .join-box .title-box{display: flex;flex-direction: column;gap:20px;width: calc(100% - 400px);}
.sub-wrap.join .join-box .title-box h1{font-size: 36px;}
.sub-wrap.join .join-box .title-box p{font-size: 16px;}
.sub-wrap.join .join-box .title-box img{width: 48px;height: 48px;}
.sub-wrap.join .join-box .input-box{width: 400px;}
.sub-wrap.join .join-box .input-box .input-list{display: flex;gap:24px 16px;margin-bottom: 50px;flex-wrap: wrap;}
.sub-wrap.join .join-box .input-box .input-list input[type="text"],
.sub-wrap.join .join-box .input-box .input-list input[type="password"],
.sub-wrap.join .join-box .input-box .input-list select{border-radius: 5px;padding: 12px 14px;height: 50px;width: 100%;}
.sub-wrap.join .join-box .input-box .btn-box{display: flex;justify-content: flex-end;}
.sub-wrap.join .join-box .input-box .btn-box button{background: #0b57d0;color:#fff;border-radius: 30px;line-height: 48px;font-size: 14px;padding: 0 26px}
.sub-wrap.join .language-box{margin-top: 24px;}
.sub-wrap.join .language-box select{width: 200px;height: 48px;padding: 12px 14px;border: 0;background: #f0f4f9;}
.sub-wrap.join .language-box select option{}

.sub-wrap.join .join-box .input-box .input-list.type1 li{width: 100%;}

.sub-wrap.join .join-box .input-box .input-list.type3 li:last-child{width: 100%;}
.sub-wrap.join .join-box .input-box .input-list.type3 li:not(:last-child){width: calc(33.333% - 11px);}