.sub-wrap{position: relative;min-height: 100vh;} 

/* JOIN, LOGIN common */
.sub-wrap{background: #f0f4f9;display: flex;align-items: center;justify-content: center;}
.sub-wrap .inner{width: min(926px, 90%);}
.sub-wrap .sub-box{background: #fff;border-radius: 20px;margin: 0 auto;padding: 50px 36px;display: flex;justify-content: space-between;flex-wrap:wrap;min-height: 320px;}
.sub-wrap .sub-box .title-box{display: flex;flex-direction: column;gap:20px;width: calc(100% - 400px);}
.sub-wrap .sub-box .title-box h1{font-size: 36px;}
.sub-wrap .sub-box .title-box p{font-size: 16px;}
.sub-wrap .sub-box .title-box img{width: 48px;height: 48px;}
.sub-wrap .sub-box .input-box{width: 400px;}
.sub-wrap .sub-box .input-box .input-list{display: flex;gap:24px 16px;margin-bottom: 50px;flex-wrap: wrap;}
.sub-wrap .sub-box .input-box .input-list{position: relative;}
.sub-wrap .sub-box .input-box .input-list input[type="text"],
.sub-wrap .sub-box .input-box .input-list input[type="password"],
.sub-wrap .sub-box .input-box .input-list select{border-radius: 5px;padding: 12px 14px;height: 50px;width: 100%;}
.sub-wrap .sub-box .input-box .btn-box{display: flex;justify-content: flex-end;}
.sub-wrap .sub-box .input-box .btn-box button{background: #0b57d0;color:#fff;border-radius: 30px;line-height: 48px;font-size: 14px;padding: 0 26px}

.sub-wrap .sub-box .input-box .input-list input:focus {border:3px solid #518ef0 !important; box-shadow: 0 0 5px #0b57d03f; outline: none;}

/* .sub-wrap .language-box{margin-top: 24px;} */
/* .sub-wrap .language-box select{width: 200px;height: 48px;padding: 12px 14px;border: 0;background: #f0f4f9;} */

/* width */
.sub-wrap .sub-box .input-box .input-list li{width: 100%; position: relative;} /*default*/
.sub-wrap .sub-box .input-box .input-list li.w-50{width: 50%;}
.sub-wrap .sub-box .input-box .input-list li.w-33 {width: calc(33.333% - 11px);}

/* step3 주소 */
.sub-wrap .mail_txt{position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: clamp(11px, 3vmin, 15px); color: #75758a;}

/* step4 비밀번호 보기 버튼*/
.sub-wrap .showPassword-box{margin-top: 10px;}
.sub-wrap .showPassword-box label{display: flex;align-items: center;gap: 5px;}
.sub-wrap .showPassword-box label input{margin: 0;}
.sub-wrap .showPassword-box label span{ font-size: clamp(11px, 3vmin, 15px); color: #75758a;}

/* step5 인증번호 받기 버튼*/
.sub-wrap .receiveNum-box{display: flex;gap:20px}
.sub-wrap .receiveNum-box input{flex:1}
.sub-wrap .receiveNum-box button{background: #0b57d0;color:#fff;border-radius: 30px;line-height: 48px;font-size: 14px;padding: 0 26px}

/* step6 */
.step6 .input-list{font-size: 22px;height: 125px;}

